#image img{
    width: 100px;
    height: 100px;
}
.welcome{
    height: 100vh;
}
#gameArea{
    height: 100vh;
    background-color: #ff006e;

}
.bg-success{
    width: 20%;
}
.outputArea{
    width:30px;
    height: 50%;    
    font-size: 80px;
}
